@import "../../../../consts/variables";

.image-container {
  height: auto;
  display: flex;
  position: relative;
  img {
    width: 100%;
    border-radius: 1rem;
  }

  p {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
  }
}

.texts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  h3 {
    display: inline;
  }
}

.price {
  @include normal-text;
  font-size: 1.1rem;
  padding: 0 0.5rem;
}
