@import "../../../consts/variables";

.title-container {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
  @media (width<70rem) {
    padding-right: 0;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0;
  min-width: 1.4rem;
  min-height: 1.4rem;
  background-color: black;
  border-radius: 50%;
}

.icon {
  font-weight: bold;
  color: white;
  margin: 0;
}

.title {
  display: inline-block;
  margin: 0.3rem 0;
  @include normal-text;
  font-size: 1rem;
  font-weight: bold;
}

@keyframes show-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  @include smaller-text;
  margin: 0 0 0.8rem 0.4rem;
  animation: show-content 400ms ease-in;
}
