@import "../../../consts/variables";

.container {
  width: 100%;

  @media (width > 73rem) {
    width: 80%;
  }

  background-color: $gallery-background-color;
  :global {
    .image-gallery-fullscreen-button svg,
    .image-gallery-play-button svg {
      width: 35px;
      height: 35px;
    }
  }
}

.custom-image {
  img {
    height: 35rem;
    @media (width< $mobile-threshold) {
      height: 25rem;
    }
  }
}

.fullscreen-image {
  img {
    height: 100vh;
  }
}
