@import "../../../consts/variables";

.container {
  max-width: 100%;
  width: 80vw;
  max-width: 65rem;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/about-me-images/opinions.jpg");
  background-position: center;
  background-size: cover;
  min-height: 23rem;
  max-height: 34rem;
  height: 40vw;
}

.text-container {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  p {
    @include normal-text;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: normal;
    font-style: italic;
  }
}
