@import "../../consts/variables";

.card {
  border: 6px solid #f7f6f4;
  padding: 1rem;
  text-align: center;
  margin: 1.2rem 0;
}

.card-title {
  margin: 0.2rem 0;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-family: "Raleway", sans-serif;
}
