@import "../../../consts/variables";

.section-elem {
  width: 80vw;
  border: 0 solid $border-color;
  margin: 2rem 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  @media (width < 80rem) {
    padding: 0;
  }
}
