@import "../../../consts/_variables.scss";

@mixin nav-position {
  position: fixed;
  top: 0;
  left: 0;
}

.mobile-navigation-container {
  z-index: 9999;
  position: relative;
}

.backdrop {
  @include nav-position();
  height: 100vh;
  width: 100vw;
  background-color: $backdrop-color;
  opacity: $backdrop-opacity;
}

.nav-list {
  @include nav-position();
  height: 100vh;
  width: 65%;
  background-color: $mobile-nav-background-color;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  min-width: 14rem;
}

.link {
  @include navigation-link;
  padding: 0.25rem 0;
  width: 100%;
  text-align: center;
}

.activeLink {
  @include navigation-active-link;
}
