@import "../../consts/_variables.scss";

.navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3.2rem;
  z-index: 9000;
  background-color: $navigation-background-color;
}

.navigation-items {
  display: flex;
  flex-wrap: wrap;
  @media (width < $mobile-threshold) {
    display: none;
  }
}

.link {
  @include navigation-link;
}

.activeLink {
  @include navigation-active-link;
}

.icon {
  max-height: 3rem;
  margin-right: 1rem;
}

.toggle-button {
  display: inline-block;
  @media (width > $mobile-threshold) {
    display: none;
  }
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  position: absolute;
  right: 1rem;
}

.toggle-button__bar {
  width: 100%;
  height: 0.14rem;
  background: black;
  display: block;
  margin: 0.3rem 0;
}
