@import "../../../consts/variables";

.page-title {
  margin-top: 2rem;
  min-width: 15rem;
  max-width: 40rem;
  text-align: center;
  width: 60%;
  padding-bottom: 0;
  @media (width < $mobile-threshold) {
    width: 80%;
  }
}

.text-pair {
  width: 80%;

  h1 {
    font-size: 1.6rem;
  }
  p {
    @include normal-text;
    font-size: 1.1rem;
  }
}
