@import "../../../consts/variables";

.title-section {
  margin-bottom: 0;
}

.title {
  width: 80%;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.element {
  width: calc(32% - 1.2rem);
  margin: 0.6rem;
  margin-bottom: 1rem;
  @media (width < 75rem) {
    width: calc(48.5% - 1.2rem);
  }
  @media (width < $mobile-threshold) {
    width: calc(85% - 1.2rem);
  }
}

.button {
  @include default-button;
  padding: 0.8rem 1.7rem;
  p {
    margin: 0;
  }
}

.link {
  @include default-link-text;
  font-size: 1.3rem;
}
