@import "../../../consts/variables";

.title {
  margin-top: 2rem;
  font-family: Raleway;
  font-weight: 300;
}

.list-item {
  font-family: "Open Sans";
  font-style: italic;
  color: #747474;
  font-size: 0.85rem;
}
