// navigation
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@mixin text-underline {
  text-decoration: underline;
  text-underline-offset: 6px;
}

@mixin navigation-link {
  text-decoration: none;
  color: $link-text-color;
  font-size: 1.2rem;
  margin-right: 1rem;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  &:hover {
    color: $link-text-hover-color;
    @include text-underline;
  }
}

@mixin navigation-active-link {
  color: $active-navigation-color;
  font-weight: bold;
  @include text-underline;
}

@mixin default-button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: gray;
  border-radius: 0.3rem;
}

@mixin default-link-text {
  align-self: flex-end;
  font-size: 1.05rem;
  color: white;
  text-decoration: none;
}

// colors
$about-me-underline-color: rgb(138, 138, 138);
$border-color: rgb(236, 236, 236);
$link-text-color: #333;
$link-text-hover-color: #a92e2e;
$active-navigation-color: #007bff;
$backdrop-color: #000000;
$mobile-nav-background-color: white;
$navigation-background-color: white;
$gallery-background-color: #dfd5cea2;

// about me page
@font-face {
  font-family: "Muli";
  src: url("/src/assets/fonts/Muli.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Mulish:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
// variables
$mobile-threshold: 42rem;
$backdrop-opacity: 0.8;

@mixin normal-text {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
  font-size: 0.85rem;
  font-weight: 500;
  white-space: pre-line;
}

@mixin smaller-text {
  @include normal-text;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.normal-text {
  @include normal-text;
}

.smaller-text {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4rem;
  font-size: 0.8rem;
  text-align: center;
}

.responsive-image {
  width: 100%;
  height: auto;
}
