@import "../../../consts/variables";

.secion-elem {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.moving-image {
  background-image: url("../../../assets/about-me-images/flying-back.png");
  background-position: top 0 left 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -9999;
}

.person-details-container {
  padding-top: 3rem;
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  bottom: 0;
  @media (width<$mobile-threshold) {
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.person-image {
  flex-grow: 1;
  width: 100%;
  height: auto;
  max-width: 800px;
  @media (width<$mobile-threshold) {
    max-width: 450px;
  }
}

.person-details-text {
  padding-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  max-width: 18.5rem;
  display: flex;
  flex-direction: column;
  .sub-1 {
    font-size: 0.8rem;
    font-family: Muli;
  }
  h1 {
    margin-top: 0;
    font-size: 1.7rem;
    font-family: "Cousine", monospace;
  }
  .sub-2 {
    font-family: Muli;
    font-size: 0.7rem;
    padding: 1rem 1.8rem;
    display: inline-block;
    width: fit-content;
    border-bottom: 6px solid $about-me-underline-color;
  }
}
