@import "../../consts/variables";

.form-container {
  width: 100%;
}

.name-mail-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

// target input elements
.group {
  position: relative;
  margin-bottom: 2rem;
}

.input {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 1px solid #757575;
  // target textarea elements
  width: 100%;
  // target input elements
  &:not(textarea) {
    width: 96%;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:valid {
    & ~ label {
      top: -20px;
      font-size: 1rem;
      color: #5264ae;
    }
  }
  // target textarea elements
  &:focus ~ .bar {
    &::before,
    &::after {
      width: 50%;
    }
  }
  // target input elements
  &:not(textarea):focus ~ .bar {
    &::before,
    &::after {
      width: 48%;
    }
  }
  //invalid state
  &.invalid {
    ~ label {
      color: red;
    }
    ~ .bar::before,
    ~ .bar::after {
      background: red;
      width: 50%;
    }
    &:not(textarea) ~ .bar {
      &::before,
      &::after {
        background: red;
        width: 48%;
      }
    }
  }
}

.label {
  color: #999;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.bar {
  position: relative;
  display: block;

  &::before,
  &::after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264ae;
    transition: 0.4s ease all;
  }
  // target textarea elements
  &::before {
    left: 50%;
  }
  &::after {
    right: 50%;
  }
  // target input elements
  input ~ & {
    &::before {
      left: 48%;
    }
    &::after {
      right: 52%;
    }
  }
}

textarea ~ .bar {
  &::before,
  &::after {
    bottom: 6px;
  }
}

.button {
  @include default-button;
  color: white;
  margin: 0;
  &.valid {
    background-color: blue;
    cursor: pointer;
  }
}

.invalid-form-info {
  margin: 0;
  color: red;
}
