@import "../../consts/variables";

@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");

.pre-footer-background {
  background-color: #f7f6f4;
  justify-content: center;
  display: flex;
}

.pre-footer {
  align-items: center;
  display: flex;
  height: 8rem;
  width: 60%;
  h1 {
    font-family: "Dawning of a new day", cursive;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }
}

.background {
  background-color: #dbd5d0;
  justify-content: center;
  display: flex;
}

.container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

.section {
  min-width: 8rem;
  width: 33%;
  h4 {
    margin: 0.4rem 0;
  }
  p {
    @include normal-text;
    line-height: 1.4rem;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  @media (width < $mobile-threshold) {
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
  }
}
