@import "../../../../consts/variables";

.section-column {
  width: 49%;
  padding: 0 2rem;
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (width < calc(#{$mobile-threshold} + 8rem)) {
    padding: 0 0.5rem;
  }

  @media (width < $mobile-threshold) {
    width: 100%;
    padding: 0;
    margin-top: 3rem;
  }
}
