.container {
  padding: 2rem 0;
  border-top: 3px solid black;
  display: inline-block;
  background-image: url("../../../assets/title_dot.png");
}

.subtitle {
  text-transform: uppercase;
  margin: 0;
  font-family: Muli;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.7rem;
}

.title {
  margin: 0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.4rem;
}
