@import "../../../consts/variables";

.person-image {
  background-image: url("../../../assets/portfolio-images/person.jpg");
  background-size: cover;
  background-position: center;
  height: 85%;
  width: 100%;
  max-width: 20rem;
  min-height: 30rem;
}

.person-name {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
}

.titles {
  @include normal-text;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.2rem 0;
}

.text {
  @include normal-text;
  line-height: 1.2rem;
  text-align: justify;
}

.check-button {
  @include default-button;
}

.link {
  @include default-link-text;
}

.subsection-title {
  width: 100%;
}

.s2-col2 {
  padding: 0;
}

.section-image {
  padding-top: 1rem;
}

.course-container {
  width: 100%;
  margin: 1rem 0;
}

.course-element {
  text-decoration: none;
  color: black;
  margin-bottom: 1rem;
  p {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}

.video {
  width: 100%;
  max-width: 50rem;
}

.gallery-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gallery-title {
  width: 100%;
  text-align: center;
}
